.form{
    background-color: coral;
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 40%;
padding: 40px;
border-radius: 10px;
text-align: center;
}

input{
    width: 50%;
    border: none;
    height: 25px;
    border-radius: 5px;
    

}

#btn{
    border: none;
    width: 30%;
    margin: auto;
    border-radius: 5px;
    height: 25px;

}

div{
    margin-bottom:30px ;
}